# ─── Server ───────────────────────────────────────────────────────────────────
PORT=3001

# ─── AWS S3 ───────────────────────────────────────────────────────────────────
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
S3_BUCKET_NAME=YOUR_BUCKET_NAME
